<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">			
			<div class="visitor_numbers">
				{% include analytics.html %}	 
			</div>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">简历</a></li>
	        		<li><a href="/blog">博客</a></li>				
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		  <ul>
	        		<li><a href="mailto:caihuici@gmail.com">email</a></li>
	        		<li><a href="https://github.com/xugaolei">github.com/xugaolei</a></li>
				<li> :) :P :D </li>
		          </ul>
			</footer>
		</body>
	</html>
